// 字体图标
@font-face {
  font-family: 'iconFont';
  src: url('~/src/asset/iconFont/icomoon.eot?26o3on');
  src: url('~/src/asset/iconFont/icomoon.eot?26o3on#iefix')
      format('embedded-opentype'),
    url('~/src/asset/iconFont/icomoon.ttf?26o3on') format('truetype'),
    url('~/src/asset/iconFont/icomoon.woff?26o3on') format('woff'),
    url('~/src/asset/iconFont/icomoon.svg?26o3on#icomoon') format('svg');
  font-display: fallback;
}
