// 字体图标
@font-face {
  font-family: 'iconFont';
  src: url('~/src/asset/iconFont/icomoon.eot?le0sf5');
  src: url('~/src/asset/iconFont/icomoon.eot?le0sf5#iefix')
      format('embedded-opentype'),
    url('~/src/asset/iconFont/icomoon.ttf?le0sf5') format('truetype'),
    url('~/src/asset/iconFont/icomoon.woff?le0sf5') format('woff'),
    url('~/src/asset/iconFont/icomoon.svg?le0sf5#icomoon') format('svg');
  font-display: fallback;
}
