.summary {
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  font-size: 0.875rem;
  padding: 20px;
  width: 100%;
  box-shadow: $box-shadow;
  &-head {
    @include flex($xGap: 20px);
    margin-bottom: 1rem;
    &-title {
      white-space: nowrap;
      font-size: 1.4rem;
      font-weight: bold;
    }
    &-divide {
      border-top: 1px dashed #d4d4d4;
      width: 100%;
    }
  }
}
