.side {
  color: #ffffff;
  @include flex($dir: column);
  height: 100%;
  &-route {
    width: 100%;
    &-item {
      width: 100%;
      @include flex($x: flex-start, $xGap: 20px);
      cursor: pointer;
      border-radius: 10px;
      padding: 4px;
      margin: 10px 0;
      transition: 0.2s;
      &-icon {
        font-family: 'iconFont';
        width: 2rem;
        aspect-ratio: 1/1;
        font-size: 1.4rem;
        background-color: #505056;
        text-align: center;
        line-height: 2rem;
        border-radius: 0.5rem;
        transition: 0.2s;
      }
      &-name {
        font-size: 1rem;
        font-weight: bold;
      }
      &--select {
        background-color: rgba(255, 255, 255, 0.1);
        .side-route-item-icon {
          background-color: #00d25c;
        }
      }
      &--hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
  &-upload {
    margin-top: auto;
  }
}
